<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="title2">
    White Library
</div>
<form th:action="@{/loadbook}" th:method="post" enctype="multipart/form-data" class="form">
    <!-- <div class="sender">
        <span th:text="${sender}"></span>
    </div> -->
    <div class="namePost">
        <label>
            Enter name of post
            <input type="text" name="name" required class="input">
        </label>
    </div>
    <div class="namePost">
        <label>
            Enter text of post
            <input type="text" name="text" required class="input">
        </label>
    </div>
    <div class="namePost">

        Enter the range of book<br>

        <!-- <label for="starter">Starter</label> -->
        <label><input name="test_role" type="radio" value="Starter" id="starter">Starter</label>
        <br>
        <label><input name="test_role" type="radio" value="Elementary">Elementary</label>
        <br>
        <label><input name="test_role" type="radio" value="Intermediate">Intermediate</label>
        <br>
        <label><input name="test_role" type="radio" value="Advanced">Advanced</label>


    </div>
    <div class="namePost">
        Choose the photo<br>
        <input type="file" name="image" accept="image/*">

    </div>

    <div class="namePost">
        <label>
            Ukrainian text please: <br>
            <input type="file" name="ukrText" accept="txt/*">
        </label>
    </div>

    <div class="namePost">
        <label>
            English text please: <br>
            <input type="file" name="engText" accept="txt/*">
        </label>
    </div>
    <div>
        <button class="button-13" role="submit">Send</button>
    </div>
</form>

</body>
</html>