<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>readBook</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/start_page" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">White Library</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/start_page" class="nav-link " aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/test" class="nav-link ">Test</a></li>
            <li class="nav-item"><a href="#" class="nav-link active">Book</a></li>
            <li class="nav-item"><a href="#" class="nav-link addWordPanel">Add</a></li>
            <li class="nav-item"><a href="/dictionary" class="nav-link">Dictionary</a></li>
        </ul>
    </header>
</div>
<body>
<form th:action="@{/addWord}" method="post" target="_self" enctype="multipart/form-data" >
<div class="wordPanel">
    <span class="textAdd">Add the word</span>
    <span class="engWord">English word</span>
    <input type="text" class="inpAdd" name="engWord">
    <span class="engWord">Ukrainan word</span>
    <input type="text" class="inpAdd" name="ukrWord">
    <input type="file" name="image" accept="image/*">
    <button class="button-4" role="button">Add word</button>
</div>
</form>

<hr class="hrBook">
<div th:each="eng:${arrEng}" class="section">
    <div class="accordion" th:with="mycount=${count.get()}">
        <div class="item">
            <div class="triger">
                <span th:text="${eng}"></span>
            </div>
           <div class="content" th:with="mycount=${count.incrementAndGet()}"><!-- Зробити режим переключення виглядуу сторінки-->
                <span th:text="${arrUkr[mycount]}"></span>
            </div>
        </div>
    </div>
</div>
<!--<script src="/js/script_acc.js"></script>-->
<script src="/js/script.js"></script>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>