<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Watch_video</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/start_page" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">White Library</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/start_page" class="nav-link " aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/start_page_video" class="nav-link">Films</a></li>
            <li class="nav-item"><a href="" class="nav-link active">Film</a></li>
            <li class="nav-item"><a href="/test" class="nav-link">Test</a></li>
            <li class="nav-item"><a href="/dictionary" class="nav-link">Dictionary</a></li>
        </ul>
    </header>
</div>
<body class="videoBlock1">
<div class="videoBlock1">
        <video controls height="450" width="600">
            <source type="video/mp4" th:src="@{'data:video/mp4;base64,'+${video.getVideoContent()}}">
        </video>
</div>
</body>
</html>